<!-- Ultimate nav bar. Add sections as needed, but please, -->
<!-- follow the idea (to have the active sections look like '> {page} <'. Thank you. -->
<!-- (c) spnchdev, March 5, 2026 -->
<nav>
    <a href="/" class="<%= page === 'home' ? 'active' : '' %>">
        <%= page === 'home' ? '> ' : ''%>Home<%= page === 'home' ? ' <' : '' %>
    </a>
    <a href="/team" class="<%= page === 'team' ? 'active' : '' %>">
        <%= page === 'team' ? '> ' : '' %>Team<%= page === 'team' ? ' <' : '' %>
    </a>
    <a href="/faq" class="<%= page === 'faq' ? 'active' : '' %>">
        <%= page === 'faq' ? '> ' : '' %>FAQ<%= page === 'faq' ? ' <' : '' %>
    </a>
</nav>